* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Serif', serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    header {
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
    nav {
        font-size: 1em;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
    }
    nav a {
        text-decoration: none;
        color: black;
        margin: 10px;
    }
    nav a:hover {
        color: #e3e3e3;
        cursor: pointer;
    }
    h2 {
        font-size: 1.5em;
        margin: 30px 0px 10px 10px;
    }
    article {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #e3e3e3;
    }
    article img {
        width: 100%;
        height: 100%;
    }
    article h3.postTitle {
        margin-top: 10px;
        font-size: 1.5em;
        margin: 0 10px;
    }
    article p.publishDate {
        font-size: 0.8em;
        margin: 10px;
    }
    article p.postContent {
        margin: 0 10px;
    }
    article p.postAuthor {
        font-size: 0.8em;
        margin: 10px 10px 0px 10px;
    }
    .fa-thumbs-o-up {
        color: black;
        margin: 10px;
    }
    footer {
        border-bottom: 1px solid #e3e3e3;
    }
    footer h2 {
        font-size: 1.3em;
        margin-top: 20px;
        text-align: center;
    }
    footer p {
        font-size: 0.8em;
        margin: 0 auto;
        padding-bottom: 20px;
        width: 80%;
        text-align: center;
    }
    p.copyright {
        font-size: 0.8em;
        margin-top: 10px;
        text-align: right;
    }
    .btnScrollToTop {
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: none;
        outline: none;
        background-color: black;
        color: white;
        opacity: 80%;
    }
    .btnScrollToTop:hover {
        cursor: pointer;
        background: black;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header {
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 100%;
    }
    nav {
        text-decoration: none;
        font-size: 1em;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
    }
    nav a {
        padding: 10px;
        text-decoration: none;
        color: black;
    }
    nav a:hover {
        padding: 10px;
        cursor: pointer;
        color: #e3e3e3;
    }
    .newsfeedTitle {
        display: flex;
        justify-content: center;
    }
    .newsfeedTitle h2 {
        font-size: 2em;
        margin: 10px 0px 10px 10px;
        width: 100%;
    }
    article {
        margin: 0 auto;
        margin-bottom: 15px;
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e3e3e3;
    }
    article img {
        height: 100%;
        width: 100%;
    }
    article h3.postTitle {
        font-size: 2em;
        margin: 10px 10px 0px 10px;
    }
    article p.publishDate {
        font-size: 0.8em;
        margin: 10px;
    }
    article p.postContent {
        margin: 0px 10px;
    }
    article p.postAuthor {
        font-size: 0.8em;
        margin: 10px 10px 0px 10px;
    }
    .fa-thumbs-o-up {
        color: black;
        margin: 10px;
    }
    footer {
        border-bottom: 1px solid #e3e3e3;
        width: 100%;
    }
    footer h2 {
        font-size: 1.3em;
        margin-top: 20px;
        text-align: center;
    }
    footer p {
        font-size: 0.8em;
        margin: 20px 0px 20px 0px;
        text-align: center;
    }
    p.copyright {
        width: 100%;
        margin: 10px auto 10px auto;
        font-size: 0.8em;
        text-align: right;
    }
    .btnScrollToTop {
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: none;
        outline: none;
        background-color: black;
        color: white;
        opacity: 80%;
    }
    .btnScrollToTop:hover {
        cursor:pointer;
        background: black;
    }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .headerImageContainer {
        height: 400px;
        overflow: hidden;
    }
    article img {
        object-fit: cover;
    }
    footer {
        margin: 20px auto;
    }
    footer h2 {
        margin-top: 20px;
    }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav {
        width: 70%;
    }
    .newsfeedTitle h2 {
        width: 70%;
    }
    article {
        width: 70%;
    }
    footer {
        width: 70%;
    }
    p.copyright {
        width: 70%;
    }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    header {
        font-size: 3em;
    }
    nav {
        width: 50%;
    }
    .newsfeedTitle h2 {
        width: 50%;
    }
    article {
        width: 50%;
    }
    footer {
        width: 50%;
    }
    p.copyright {
        width: 50%;
    }