* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Serif', serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
header {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
nav {
    font-size: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
nav a {
    text-decoration: none;
    color: black;
    margin: 10px;
}
nav a:hover {
    color: #e3e3e3;
    cursor: pointer;
}
h2 {
    font-size: 1.5em;
    margin: 30px 0px 10px 10px;
}
article {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}
.headerImageContainer {
    overflow: hidden;
    
}
article img {
    object-fit: cover;
}
article h3.postTitle {
    margin-top: 10px;
    font-size: 1.5em;
    margin: 0 10px;
}
article p.publishDate {
    font-size: 0.8em;
    margin: 10px;
}
article p.postContent {
    margin: 0 10px;
}
article p.postAuthor {
    font-size: 0.8em;
    margin: 10px 10px 0px 10px;
}
.fa-thumbs-o-up {
    color: black;
    margin: 10px;
}
footer {
    border-bottom: 1px solid #e3e3e3;
}
footer h2 {
    font-size: 1.3em;
    margin-top: 20px;
    text-align: center;
}
footer p {
    font-size: 0.8em;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 80%;
    text-align: center;
}
p.copyright {
    font-size: 0.8em;
    margin-top: 10px;
    text-align: right;
}
.btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    opacity: 80%;
}
.btnScrollToTop:hover {
    cursor: pointer;
    background: black;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
header {
    font-size: 2em;
    height: 250px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.newsfeedTitle h2 {
    font-size: 2em;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
nav {
    width: 70%;
    margin: 0 auto;
}
.newsfeedTitle h2 {
    width: 70%;
    margin: 0 auto;
}
article {
    width: 70%;
    margin: 0 auto;
}
footer {
    width: 70%;
    margin: 0 auto;
}
p.copyright {
    width: 70%;
    margin: 0 auto;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
header {
    font-size: 3rem;
}
nav {
    width: 50%;
    display: flex;
}
.newsfeedTitle h2 {
    width: 50%;
}
article {
    width: 50%;
}
footer {
    width: 50%;
}
p.copyright {
    width: 50%;
}